.equipment-grid-container {
  background-color: whitesmoke;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}
.equip-empty-grid {
  background-color: var(--background-blue-color);
  grid-row: 1;
  grid-column: 1/3;
  height: 2rem;
}

.equip-grid-item2 {
  width: 100%;
  height: 100%;
  z-index: 1;
  grid-row: 2;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--background-blue-color);
}
.equip-grid-item3 {
  grid-row: 1/4;
  grid-column: 1/3;
  display: flex;
  justify-content: right;
  height: 100%;
  overflow: hidden;
}

.equip-grid-item5 {
  grid-row: 4/6;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
.equip-grid-item2 p {
  align-self: center;
  margin-left: 3.7rem;
  margin-right: 2rem;
}

.equip-grid-item5 ul {
  margin-left: 4rem;
  margin-right: 2rem;
}

.equip-grid-item4 {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  margin-right: 3.7rem;
  margin-left: 3.7rem;
  z-index: 1;
  color: var(--background-blue-color);
}
.equip-grid-item2 p,
.equip-grid-item5 li {
  font-family: 'fira-sans-medium';
  color: var(--background-blue-color);
  font-size: 1.6rem;
  max-width: 75ch;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 1rem;
  z-index: 1;
}

.equip-title {
  color: var(--color-font-blue);
  font-size: 4.5rem;
  font-weight: 600;
  text-align: left;
  align-self: start;
  margin-left: 3.7rem;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.bike-img {
  width: 23rem;
  height: 20rem;
  position: relative;
  transform: translateX(87%);
}

@media screen and (min-width: 600px) {
  .equip-grid-item2,
  .equip-grid-item5 {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
  }

  .equip-grid-item5 {
    grid-row: 4;
  }
  .equip-title {
    align-self: center;
  }
  .equip-list-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .equip-list-wrapper ul {
    align-self: center;
  }

  .equip-grid-item3 {
    grid-column: 2;
    grid-row: 1/6;
  }

  .bike-img {
    width: 36rem;
    height: 32rem;

    align-self: flex-start;
    transform: translateX(15%);
  }

  .equip-empty-grid {
    height: 4rem;
    overflow: hidden;
  }
}

@media screen and (min-width: 1000px) {
  .equip-grid-item2,
  .equip-grid-item4 {
    grid-column: 1;
    margin-right: 0;
  }
  .equip-grid-item2 {
    justify-content: center;
  }

  .equip-title {
    font-size: 8rem;
    margin-top: 4rem;
    align-self: flex-start;
  }

  .equip-grid-item5 {
    grid-column: 1;
    grid-row: 4;
    align-self: flex-end;
    margin-bottom: 3rem;
  }

  .equip-grid-item2 p,
  .equip-grid-item5 li {
    font-size: 1.8rem;
    line-height: 1.7;
  }

  .equip-grid-item3 {
    justify-content: center;
    grid-row: 2/6;
    margin-bottom: 10rem;
  }
  .bike-img {
    width: 70.3rem;
    height: 58.7rem;

    transform: translateX(13%);
  }
}
@media screen and (min-width: 1300px) {
  .equip-title,
  .equip-grid-item2 p,
  .equip-list-wrapper ul {
    margin-left: 20rem;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1400px) {
  .bike-img {
    width: 80.3rem;
    height: 68.7rem;

    transform: translateX(5%);
  }
}
