/* .equipment-grid-container {
  background-color: var(--background-lightblue-color);
  min-height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;

  grid-gap: 1rem;
}
*/
.equip-grid-item1 {
  width: 100%;
  height: 100%;
  background-color: var(--background-lightblue-color);
  grid-row: 4;
  grid-column: 1/3;
  display: flex;
  justify-content: left;
  /*  margin-left: 3.7rem; */
}
.equip-grid-item2 {
  width: 100%;
  height: 100%;
  grid-row: 5;
  background-color: var(--background-lightblue-color);
  display: flex;
  justify-content: right;
}
.equip-title {
  color: var(--color-font-blue);
  font-size: 4.5rem;
  font-style: italic;
  font-weight: 550;
  text-align: left;
  align-self: start;

  margin-left: 2rem;
  margin-top: 2rem;
  position: relative;
}

.bike-img {
  bottom: 30rem;
  bottom: 2.5rem;
  position: relative;
  width: 20.7rem;
  z-index: 1;
}

.equip-grid-item2 {
  grid-row: 5/-4;
  grid-column: 2/3;
  height: 100%;
}
