footer {
  height: 30rem;
  background: whitesmoke;
  width: 100%;
  display: flex;
  
  align-items: center;

  justify-content: center;
  overflow: hidden;
}

.footer-section h2 {
  font-size: 2.4rem;
  font-style: italic;

  text-align: center;
}

.footer-section {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-section picture {
  display: flex;
  justify-content: center;
}

.footer-section img {
  width: 32.6rem;
  height: 12.9rem;
  align-self: center;
}
@media screen and (max-width: 347px) {
  .footer-section img {
    width: 28.6rem;
    height: 7.9rem;
  }

  .footer-section h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .footer-section {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-section img {
    width: 67rem;
    height: 25rem;
  }
  .footer-section h2 {
    font-size: 3rem;
    align-self: center;

    
  }
  .footer-section picture {
    justify-content: space-around;
  }
}
