:root {
  --background-blue-color: #012c3d;
  --background-lightblue-color: #78bdc4;
  --color-font-blue: #012c3d;
}

@font-face {
  src: url(/assets/Fonts/FiraSans-SemiBoldItalic.woff2);
  font-family: 'fira-sans-semi-bold-italic';
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url(/assets/Fonts/FiraSans-Medium.woff2);
  font-family: 'fira-sans-medium';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url(/assets/Fonts/FiraSans-MediumItalic.woff2);
  font-family: 'fira-sans-medium-italic';
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url(/assets/Fonts/FiraSans-Regular.woff2);
  font-family: 'fira-sans-regular';
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: fira-sans-regular, sans-serif;
}
h1,
h2,
h3 {
  font-family: fira-sans-semi-bold-italic;
}
body {
  height: 100%;
  width: 100%;
  max-width: 2880px;
  margin: auto;
  background: var(--background-blue-color);
}

html {
  scroll-behavior: smooth;
}
