.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 4rem 2rem 2rem 2rem;
  grid-gap: 1rem;
}

.flex-wrapper {
  text-align: center;
}
h1 {
  font-family: fira-sans, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 6rem;
  color: white;
  grid-row: 1;
}

.span {
  font-family: fira-sans, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 6rem;
  color: white;
}

.info-text {
  align-self: start;
  color: white;
  grid-row: 2;
  font-size: 1.6rem;
}
.grid-item2 {
  display: flex;
  justify-content: center;
}

.btn-sign-up {
  font-family: fira-sans, sans-serif;
  font-weight: 550;
  font-style: italic;
  font-size: 2.8rem;
  background-color: #efc570;
  grid-row: 3;
  width: 22.4rem;
  height: 5.3rem;
  border-style: none;
  border-radius: 3rem;
  align-self: center;
}

.grid-item3 {
  grid-row: 4;
  display: flex;
}
.btn-info {
  font-family: fira-sans, sans-serif;
  font-size: 1.3rem;
  color: white;
  background-color: #78bdc4;

  align-self: center;
  width: 6.8rem;
  height: 6.8rem;
  border-style: none;
  border-radius: 50%;
  position: fixed;
}
