header {
  background: var(--background-blue-color);
  margin: 0;
}

header img {
  margin-top: 4rem;
}
.grid-container {
  min-height: 100vh;
  display: grid;
  background: var(--background-blue-color);
  grid-template-rows: repeat(5, auto);
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;

  padding: 4rem 2rem 2rem 2rem;
}

.grid-item1 {
  grid-row: 1;
  text-align: center;
}
h1 {
  font-family: fira-sans, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 6rem;
  color: white;
  grid-row: 1;
}

.grid-container p {
  align-self: start;
  color: white;
  grid-row: 2;
  font-size: 1.4rem;
  max-width: 75ch;
  line-height: 1.6;
}
.grid-item2 {
  grid-row: 2;
  display: flex;
  justify-content: center;
  margin: 0rem 2rem 1rem 2rem;
}
.grid-item3 {
  grid-row: 3;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  margin: 0rem 2rem 1rem 2rem;
}

.btn-sign-up {
  font-family: fira-sans, sans-serif;
  font-weight: 550;
  font-style: italic;
  font-size: 2.8rem;
  background-color: #efc570;
  grid-row: 3;
  width: 22.4rem;
  height: 5.3rem;
  border-style: none;
  border-radius: 3rem;
  align-self: center;
  transition: 0.8s;
  overflow: hidden;
}

.grid-item4 {
  grid-row: 4;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.grid-item5 {
  grid-row: 5;
  display: flex;
  margin-bottom: 6rem;
}
.btn-info {
  font-family: fira-sans, sans-serif;
  font-size: 1.3rem;
  color: white;
  background-color: var(--background-lightblue-color);

  align-self: center;
  width: 6.8rem;
  height: 6.8rem;
  border-style: none;
  border-radius: 50%;
  position: fixed;

  z-index: 2;
}
