.register-grid-container {
  background-color: var(--background-blue-color);

  width: 100%;

  display: grid;

  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.reg-grid-item1 {
  grid-column: 1/3;
  grid-row: 2;
  align-self: start;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  z-index: 1;
  opacity: 0;
}

.reg-empty-grid {
  background-color: whitesmoke;
  grid-column: 1/3;
  grid-row: 1;
  height: 2rem;
}

.reg-grid-item3 {
  grid-column: 1/3;
  grid-row: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  margin-left: 3.7rem;
  margin-right: 1rem;
  opacity: 0;
}
.reg-grid-item3 p {
  font-size: 1.8rem;
  font-family: 'fira-sans-medium';
}

.reg-grid-item3,
.reg-grid-item3 li {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 2rem;
  z-index: 1;
  font-family: 'fira-sans-medium';
}

.reg-grid-item4 {
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.reg-form-wrapper {
  background-color: #f7f8f3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 1rem #78bdc4;
  margin: 3rem 1rem 3rem 1rem;
  width: 100%;
  box-shadow: 0 0 6px #00000029;
}
.reg-grid-item4 h2 {
  display: flex;
  justify-content: center;
  font-family: 'fira-sans-medium-italic';
  font-weight: 550;
  font-size: 2.6rem;
  margin-top: 2rem;
}

.reg-grid-item4 form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.reg-grid-item4 label {
  font-family: 'fira-sans-medium';
  font-size: 1.6rem;
  color: var(--background-blue-color);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}

.reg-grid-item4 input,
textarea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 4rem;
  margin: 0rem 1rem 2rem 1rem;
  border: none;
  box-shadow: 0 0 6px #00000029;
  font-size: 1.6rem;
  padding-left: 0.5rem;
}

.reg-grid-item4 textarea {
  height: 6rem;
}

.reg-grid-item4 button {
  height: 4rem;
  width: 20rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-self: center;
  font-size: 1.7rem;
  background-color: #efc570;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.reg-grid-item4 button:hover {
  background: #e4a019;
}
.reg-form-wrapper p,
.reg-form-wrapper a {
  align-self: center;
  font-size: 1.7rem;
}

@media screen and (min-width: 600px) {
  .reg-grid-item3 {
    grid-column: 1;
    align-self: flex-start;
    margin-top: 5rem;
  }

  .reg-grid-item4 {
    grid-column: 2;
    grid-row: 3;
  }
}

@media screen and (max-width: 380px) {
  .reg-grid-item1 .acm-title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .reg-form-wrapper {
    width: 35rem;
    margin: 3rem 1rem 1rem 1rem;
  }

  .register-grid-container {
    background-image: url(/assets/varnern-delad.svg);
    background-repeat: no-repeat;
    background-size: 60%;

    background-blend-mode: soft-light;
  }

  .reg-grid-item1 {
    grid-column: 1;
    grid-row: 3;
    margin-top: 5rem;
  }
  .reg-grid-item3 {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .reg-grid-item3 p {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .reg-grid-item3 ul {
    align-self: flex-end;
  }

  .reg-grid-item3 li {
    font-size: 1.6rem;
  }
  .reg-grid-item1 h2 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 800px) {
  .reg-form-wrapper {
    width: 40rem;
  }
}

@media screen and (min-width: 1024px) {
  .reg-grid-item1 h2 {
    font-size: 6rem;
  }
  .register-grid-container {
    background-size: 60%;
  }
}

@media screen and (min-width: 1300px) {
  .reg-grid-item1 h2 {
    font-size: 8.5rem;
  }
  .register-grid-container {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1500px) {
  .reg-form-wrapper {
    width: 50rem;
  }
}
